body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e1e2f 0%, #252547 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
}

#gameArea .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.cell {
    height: 100px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

.cell:hover {
    transform: scale(1.05);
}

.station {
    background-color: #b22222;
    color: yellow;
    font-size: 2em;
    box-shadow: 0 0 10px yellow;
}

.buy-btn {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 16px;
}

.buy-btn #price {
    background-color: #960202;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border: 1px solid #777;
    position: relative;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.close {
    color: #ccc;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
